

    @import url('https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
$para-font-family: 'Josefin Sans', sans-serif;
$head-font-family:'Alata', sans-serif;
$dark-gray:hsl(0, 0%, 55%);
$very-dark-gray:hsl(0, 0%, 41%);
@mixin transition{
    transition:transform 0.3s ease-out;
}

*{
    box-sizing: border-box;
}
html{
    overflow-x:hidden;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}
body{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    background:hsl(0, 0%, 100%);
    height:100%;
     width:100%;
     overflow-x:hidden;
}
.container{
   width:100%;
   height:100%;
   overflow-x: hidden;
   position:relative;
   
   .header{
       background-image:url('/images/mobile/image-hero.jpg');
background-size:100% 100%;
min-height:90vh;
background-position:50% 50%;
background-repeat:no-repeat;
display:flex;
flex-direction:column;
position: relative;
.navbar{
    display:flex;
    
    min-width:100vw;
    justify-content:space-around;
    
    align-items:center;
    
    .brand-logo{
        font-size:clamp(0.8rem,2vw,2rem);
        font-family:$head-font-family;
        font-weight:300;
        
        
    }
    .nav-links {
        @include transition;
        position:absolute;
        right:0;
        height:85vh;
        top:8vh;
        background-color:black;
        display:flex;
        flex-direction: column;
        align-items:center;
        width:50%;
        border-radius:5px;
        transform:translateX(100%);
     
        
        &.active{
            transform:translateX(0%);
            
        }
        li{
            margin-top:1rem;
            height:80%;
            list-style: none;
            opacity:0;
            
            
            
            
            a{
                font-family:$para-font-family;
                text-decoration:none;
                color:#fff;
                
                &:hover{
                    font-weight:bold;
            }
        }
    }
}
.burger{
    
    
    cursor:pointer;
    & div{
        @include transition;
        width:25px;
        margin:5px;
        height:3px;
        background:#fff;
        
        
    }
    
    
}
}

.text-content{
   
   
    max-height:50%;
    min-width:30vw;
    padding:1rem;
  max-width:80vw;
    margin:0 auto;
    margin-top:6.8rem;
    border:2px solid #fff;
& p{
    
   margin-top:20px;
    margin-left:1rem;
    font-family: $para-font-family;
    
    text-transform:uppercase;
    display:flex;
    justify-content: left;
    flex-direction: column;
    align-items:center;
    font-size:clamp(0.3rem,10vw,3.5rem);

    
   color: hsl(0, 0%, 100%);
    line-height: 1.5;
   
}
}
}
.mid-section{
    display:flex;
    flex-direction:column;
    margin-top:3.2rem;
    color:black;
    text-align:center;
    .image{
        background-image:url("/images/mobile/image-interactive.jpg");
        background-size:100% 100%;
        background-position:center center;
        height:40vh;
        width:90vw;
       
        margin:0 auto;
    }
    .text-content-mid{
       width:80%;
       margin:0 auto;
    & h2{
        text-transform:uppercase;
    
    }
    & p{
        color:black;
        font-family:$para-font-family;
         font-weight:600;
   
            margin:0 auto;
            line-height:1.5;
    }
    }
}
.bottom-section{
    display:flex;
    flex-direction: column;
    margin-top:3rem;
    align-items:center;
    
h2{
    color:black;
    text-transform:uppercase;
}
.bottom-section-images{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    
    .deep-earth{background-image:url("/images/mobile/image-deep-earth.jpg");}
    .night-arcade{background-image:url("/images/mobile/image-night-arcade.jpg");}
    .soccer-team{background-image:url("/images/mobile/image-soccer-team.jpg");}
    .the-grid{background-image:url("/images/mobile/image-grid.jpg") ;}
    .Vr{background-image:url("/images/mobile/image-from-above.jpg") ;}
    .pocket{background-image:url("/images/mobile/image-pocket-borealis.jpg") ;}
    .curiosity{background-image:url("/images/mobile/image-curiosity.jpg") ;}
    .fisheye{background-image:url("/images/mobile/image-fisheye.jpg") ;}
    & h2{
        color:black;
        
    }
    & div{
        margin-bottom:1rem;
        @include transition;
        box-shadow:inset 12rem 0 4rem  rgba(0,0,0, 0.5);
        &:hover{
            box-shadow:inset 0 0 600px hsl(0, 6%, 100%);
        }
 }
}
.creation-img{
    
    top:2rem;
    width:95vw;
    background-size:100% 100%;
    background-position: center center;
    background-repeat:no-repeat;
    height:24vh;
     text-align:left;
     display:flex;
    align-items:center;
    box-shadow:inset 0 0 0 500px rgba(0,0,0, 0.5);

   & span{
    text-transform:uppercase;
    font-weight:600;
    font-size:24px;
    position:absolute;
    left:20px;
    width:40%;
    line-height:1.5;
    color:hsl(0, 0%, 100%);
    padding-left:1rem;
}

}

.btn-div{
   width:10rem;
   height:2.5rem;
   margin-top:1rem;
   margin-bottom:3rem;
   .btn{
       width:100%;
       height:100%;
       background:transparent;
       cursor:pointer;
       transition:all 0.3s ease-in;
span{
   font-family:$head-font-family;
    font-size:1rem;
    letter-spacing: 2px;
}
&:hover{
    background:black;
    color:white;
}
&:active{
    transform:scale(0.9);
}
}    
}
}

.footer{
    background:black;
    display:flex;
    flex-direction:column;
    height:80vh;
    align-items:center;
    .brand{
        font-family: $head-font-family;
        margin-top:1.5rem;
        margin-bottom:1.5rem;
    }

.footer-links{
    font-weight:bold;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    p{
        cursor:pointer;
        transition:hover 1s ease-out;
      
   
    &::after{
     content:'';
     width:50%;
     height:2px;
     margin:0 auto;
     background:#fff;
     display:block;
        opacity:0;
 
    }
    &:hover::after{
        opacity:1;
        transition:all 0.3s ease-in;
    }
    a{
        text-decoration: none;
        color:#fff;
    } }
}
.footer-icons{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:50vw;
    height: 4rem;
    font-size:1.5rem;
    margin-top:1.5rem;
    .icons{
cursor:pointer;
        &::after{
        content:'';
        
    display:block;
    margin:0 auto;
    width:50%;
    height:2px;
    background:#fff;
    opacity:0;
        }
  &:hover::after{
    opacity:1;
    transition:all 0.3s ease-in;
    }


}
}
.footer-copyright{
    font-weight:bold;
}
}

}

@keyframes navLinkFade{
    from{
opacity:0;
    }
    to{
opacity:1;
    }
}
.toggle .line1{
    transform:rotate(-45deg) translate(-5px,6px);  
  }
  .toggle .line2{
      opacity:0;
  }
  .toggle .line3{
      transform:rotate(45deg) translate(-5px,-6px);  
  
  }

@media(max-width:380px){ //for iphone 5/SE;
    html{
        font-size:90.5%;
    }
    body{
height:100vh;
    }
    .container  {
        height:100vh;
        .header{
            background-size:cover;
           
            .text-content{
            margin-top:10rem;
       }
        }
        .navbar{
            height:4rem;
         
        }
       
    
        .footer{
            .footer-icons{
                width:100vw;
            }
        }
    }
    .attribution{
        .attribution{
            font-size:clamp(0.8rem,1vw,1rem);
        }
    margin-bottom:0;
    margin-top:0;
   & a{
       color:#fff;
   }   
}
}
@media(min-width:380px) and (max-width:800px){ //for most mobile devices
.container{
    .header{
        background-image:url('/images/desktop/image-hero.jpg');
        background-size:cover;
        box-shadow:inset 0 0 0 500px rgba(0,0,0, 0.5);

       .navbar {

      & .brand-logo{
            font-size:1.2rem;
        }
    .burger div{
        width:35px;
        height:5px;
        margin-bottom:3px;
    } 
    }
    .text-content{
        max-height:55vh;
        & p{
           font-size: clamp(2.4rem,1vw,3rem);
        }
    }
    }
    .footer{
        min-height:100vh;
    }
} 
@keyframes navLinkFade{
    from{
opacity:0;
    }
    to{
opacity:1;
    }
}
.toggle .line1{
    transform:rotate(-45deg) translate(-8px,6px);  
  }
  .toggle .line2{
      opacity:0;
  }
  .toggle .line3{
      transform:rotate(45deg) translate(-8px,-6px);  
  
  }
}


@media(min-width:800px){//for ipad and desktops
*{
    box-sizing: border-box;
}
    html{
    font-size:100%;
 
}
.container{
    .header{
        background-image: url('/images/desktop/image-hero.jpg');
        box-shadow:inset 0 0 0 1500px rgba(0,0,0, 0.5);
        background-size:100% 100%;
        min-height:90vh;
        background-position:50% 50%;
        background-repeat:no-repeat;
        display:flex;
        flex-direction:column;
        
        .navbar{
            
            max-height:2rem;
            margin-top:1.4rem;
            .nav-links{
                @include transition;
                transform: translateX(0);
              position:static;
                opacity:1;
                background:transparent;
                display:flex;
                flex-direction: row;
                max-height:2rem;
                justify-content: space-evenly;
                align-items:center;
        & li{
            opacity:1;
            cursor:pointer;
            & a{
                font-size:1rem;
                font-weight:bold;
         &::after{
             width:40%;
             height:2px;
             background:#fff;
             display:block;
             margin:0 auto;
             margin-top:8px;
             content:'';
             opacity:0;
         }
         &:hover::after{
             opacity:1;
             transition: all 0.3s ease-out;
         }
            }
        }  
            }
            .brand-logo{
                font-size:1.5rem;
                margin-left:1rem;                
            }
            
        }
        .burger{
            display:none;
        }
        .text-content{
position: absolute;
left:7rem;
top:3rem;
            
            min-width:50vw;
            min-height:45vh;
            
     display: flex;
     justify-content: center;
     align-items: center;
     
     & p{
         font-size:clamp(2.8rem,4.5vw,3.4rem);
         font-weight:400;
         position:absolute;
         padding-top:2rem;
         width:80%;
         line-height: 1.2;
            
        }
        }
    }
    .mid-section{
        display:flex;
        flex-direction:row;
        margin-top:3.2rem;
        color:black;
        margin-bottom:3.2rem;
        
        position: relative;
        .image{
            margin-left:3rem;
           background-image: url('/images/desktop/image-interactive.jpg');
        max-width:45vw;
        left:0;
        }
        .text-content-mid{
            background:#fff;
            position:absolute;
            top:23%;
            right:0;
            height:80%;
            width:60%;
            color:black;
            padding:0 1rem;         
            
            .header-footer{
                display:flex;
                text-align:left;
                flex-direction: column;
                align-items: left;
              padding:0 2rem; 
              position:absolute;
              bottom:0;
            
           
  h2{
      font-size:clamp(1.5rem,2.5vw,3rem);
        
      margin:0;
      max-width:65%;
      
    }
    h3{
        max-width:30rem;
        font-size:clamp(0.5rem,2.5vw,1rem);
    color:$very-dark-gray;
  }
}
        }
    }
    .bottom-section{
        h2{width:90%; 
            margin-bottom: 3rem;
        & span{
            text-align:left;
        }
  

      left:10%;
  }
    
    .btn-div{
        position:absolute;
        right:20%;
        
        
    }
}
.bottom-section{
.bottom-section-images{

    display:grid;
    grid-template-columns: repeat(4,25%);
    grid-gap:5px;
    box-shadow:none;
    .deep-earth{background-image:url("/images/desktop/image-deep-earth.jpg");}
    .night-arcade{background-image:url("/images/desktop/image-night-arcade.jpg");}
    .soccer-team{background-image:url("/images/desktop/image-soccer-team.jpg");}
    .the-grid{background-image:url("/images/desktop/image-grid.jpg") ;}
    .Vr{background-image:url("/images/desktop/image-from-above.jpg") ;}
    .pocket{background-image:url("/images/desktop/image-pocket-borealis.jpg") ;}
    .curiosity{background-image:url("/images/desktop/image-curiosity.jpg") ;}
    .fisheye{background-image:url("/images/desktop/image-fisheye.jpg") ;}
   
    & span{
    width:50%;
      position:absolute;
      bottom:10px;
    
      
  }
    & div{
        position:relative;
    width:20vw;
    height:70vh;
    box-shadow:inset 0rem -12rem 4rem  rgba(0,0,0, 0.5);
   margin-bottom:5rem;
   cursor:pointer;
   transition:all 0.3s ease-in-out;
   
   &:hover{
    box-shadow:inset 0 0 600px hsl(0, 6%, 100%);

   }
}
}     
}
.footer{
    height:10rem;
    display:flex;
flex-direction: row;
justify-content: space-between;
align-items:center;
padding:3rem;
.brand{
    font-size:2rem;
}
.footer-links{
    
    display:flex;
    flex-direction: row;
    & p{
        margin:0 5px;
    }
}
.attribution{
    font-size:clamp(0.8rem,1vw,1rem);
}
}

}

}
.attribution { font-size: 18px;margin-top:1rem;margin-bottom:1.5rem; text-align: center; }
    .attribution a { color:#fff; font-weight:bold; }







   